<div class="row" class="table-responsive" *ngIf="contactoSeleccionado">
  <div>
    <h1>
      Editar Contacto
    </h1>
  </div>
  <table class="table">
    <thead>
      <th>campo</th>
      <th>Edite el campo</th>
    </thead>
    <tbody>
      <tr>
        <td>Nombre y Apellido</td>
        <input type="text" class="form-control" value="contactoSeleccionado.nombreApellido" [(ngModel)]="contactoSeleccionado.nombreApellido">
      </tr>
      <tr>
        <td>Telefono</td>
        <input type="text" class="form-control" value="contactoSeleccionado.telefono" [(ngModel)]="contactoSeleccionado.telefono">
      </tr>
      <tr>
        <td>Email</td>
        <input type="text" class="form-control" value="contactoSeleccionado.email" [(ngModel)]="contactoSeleccionado.email">
      </tr>
      <button (click)="editarContacto()">Editar</button>
      <button [routerLink]="['/']"> Cancelar</button>
    </tbody>
  </table>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>

  