<div class="row" class="table-responsive">
    <div>
        <h1>
          Nuevo Contacto
        </h1>
      </div>
    <table class="table">
      <thead>
        <th>Campo</th>
        <th>Completar</th>
      </thead>
      <tbody>
        <tr>
          <td>Nombre y Apellido</td>
          <input type="text" class="form-control" [(ngModel)]="NuevoNombreApellido">
        </tr>
        <tr>
          <td>Telefono</td>
          <input type="text" class="form-control" [(ngModel)]="NuevoTelefono">
        </tr>
        <tr>
          <td>Email</td>
          <input type="text" class="form-control" [(ngModel)]="NuevoEmail">
        </tr>
        <button (click)="agregarContacto()" >Agregar</button>
        <button [routerLink]="['/']"> Cancelar</button>
      </tbody>
    </table>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
