<!--The content below is only a placeholder and can be replaced.-->
<div class="form-group">
  <div >
    <h1>
      Contactos
    </h1>
  </div>
  <div >
    <div class="form-group">
      <label>Buscador de Contactos</label>
      <input type="text" class="form-control" [(ngModel)]="stringBuscado">
      <button (click)="buscar()">Buscar</button>
    </div>
    <br>
    <div class="row" class="table-responsive">
      <table class="table" *ngIf="getContactos()">
        <thead >
          <th>Nombre y Apellido</th>
          <th>Email</th>
          <th>Favorito</th>
        </thead>
        <tbody>
          <tr *ngFor="let contacto of getContactos()">
            <a (click)="setContactoSeleccionado(contacto)">{{contacto.nombreApellido}}</a>
            <td>{{contacto.email}}</td>
            <td>{{contacto.favorito}}</td>
            <td>
            </td>
          </tr>
          <button (click)="cambiarFavorito()">favorito</button>
        </tbody>
        <label *ngIf="contactoSeleccionado">
            {{contactoSeleccionado.nombreApellido}}
          </label>
      </table>
    </div>
  </div>
</div>
