<!--The content below is only a placeholder and can be replaced.-->
<div class="form-group">
  <div >
    <h1>
      Contactos
    </h1>
  </div>
  <div >
    <div class="form-group">
      <label>Buscador de Contactos</label>
      <input type="text" class="form-control" [(ngModel)]="stringBuscado">
    </div>
    <br>
    <div class="row">
      <table class="table">
        <thead >
          <th>Nombre y Apellido</th>
          <th>Favorito</th>
          <th>Cambio de Favoritismo</th>
        
        </thead>
        <tbody>
          <tr *ngFor="let contacto of getContactos()">
            <td>{{contacto.nombreApellido}}</td>
            <td>{{contacto.favorito}}</td>
            <td>
            <button (click)="cambiarFavorito(contacto)">favorito</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
